extends layout

block content
  h1 Simple Timestamp
  p Welcome to #{title}
  p Go to
  p.italics thispage.com/unixCode
  p Or
  p.italics thispage.com/Month Day, Year
  p to get a unix and formatted JSON object

